<div class="component__feedback inline__feedback">
  <div class="component__feedback-inner inline__feedback-inner">

    <div class="component__feedback-content">
      <div class="component__feedback-title"></div>
      <div class="component__feedback-message"></div>
    </div>

    <div class="component__feedback-image-container">
      <img class="component__feedback-image"/>
    </div>

  </div>
</div>
